@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

 html{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
} 


body{
   height: 100%;
    position: relative;
    background: #9AD3BC;
    background: -webkit-linear-gradient(top right, #9AD3BC, #F8F1F1);
    background: -moz-linear-gradient(top right, #9AD3BC, #F8F1F1);
    background: linear-gradient(to bottom left, #9AD3BC, #F8F1F1);
    
    
    } 


.info img{
height: 410px;
width:410px;
position: absolute;
border-radius: 5px;
left:50%;
top:160px
}

.info h1{
    position: absolute;
    font-size: 40px;
    top:320px;
    width: 350px;
    left: 190px;
    color:  #142843;
}
/* ---------------------------- */
.container{
position: absolute;;
top:350px;
left:0;
bottom: 0;
}

/* main{
    height:100px;
} */


.des img{
    height: 600px;
    width: 600px;
    position: absolute;
    top:270px;
   
}

.text1{
    position: absolute;
    top:450px;
    width:500px;
    left: 580px;
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    line-height:1.5em
}

.text1 h2{
    font-weight: bolder;
    margin-bottom: 10px;

}



.learn img{
    height: 350px;
    width:500px;
    position: absolute;
    top:790px;
    left:570px;

}


.learn .text3{
    position: absolute;
    left: 120px;
    top:870px;
    width:400px;
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    line-height:1.2em
}
.learn h2{
    font-weight: bolder;
    margin-bottom: 10px;
  
}

.pay img{
    position: absolute;
    height:400px;
    width: 300px;
    left:-20px;
    top:350px;
}

.text4{
    position: absolute;
    left:550px;
    top:500px;
    width:250px;
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    line-height:1.5em
}
/* -------------------------------------------------------------------- */
header{
    height: 100px;
    width: 100%;
    background: #17C89A;
    background: -webkit-linear-gradient(right, #17C89A, #142843);
    background: -moz-linear-gradient(right, #17C89A, #142843);
    background: linear-gradient(to left, #17C89A, #142843);
    }
     
    header img{
        height: 60px;
        width: 90px;
        position: absolute;
        top:15px;
        left: 30px;
    }
    
    header h2{
        font-family: 'JetBrains Mono', monospace;
        color: #f8f1f1;
        font-size: 34px;
        position: absolute;
        left: 120px;
        top: 25px;
    }
    
    header h4{
        color:#f8f1f1 ;
        position: absolute;
        font-family: 'JetBrains Mono', monospace;
        font-size: 10px;
        top:65px;
        left:120px
    }
    
    
    header a{
    color:  #f8f1f1;
    text-decoration: none;
    margin: 6px;
    font-size: 20px;
    font-family: 'JetBrains Mono', monospace;
    padding: 10px;
    } 
    
     header a:hover{
        background-color: #f8f1f1;
        color:#142843 ;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    
    nav{
        position: absolute;
        left:56%;
        top:40px ;  
    }
    
    
    footer{
    height: 100px;
    width: 100%;
    position: absolute;
    bottom:-2500px;
    background: #17C89A;
    background: -webkit-linear-gradient(right, #17C89A, #142843);
    background: -moz-linear-gradient(right, #17C89A, #142843);
    background: linear-gradient(to left, #17C89A, #142843);
    
    
    }
    
    footer h2{
        font-family: 'JetBrains Mono', monospace;
        color: #f8f1f1;
        font-size: 15px;
        position: absolute;
    
        left: 45%;
        bottom: 15px; 
    }
    
    .footer-icons i{
        background-color:#f8f1f1 ;
        border-radius: 80%;
        color: #05795c;
        padding: 10px;  
        margin: 5px 10px 5px 5px;
    }
    
    .footer-icons{
        position: relative;
        left: 42%;
        top:20%;
    }
    .footer-icons i:hover{
    background-color:#142843;
    color: #F8F1F1;
    
    }
    
    
    
    