@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap');
/*font-family: 'JetBrains Mono', monospace;*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
 
main {
    padding: 10px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    background: #f2f2f2;
    font-family: 'Poppins',sans-serif;

}

main h1{
    grid-column: 1 / -1;
    
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    color: #142843;
    font-family: 'Lobster', cursive;;
    font-size: 60px;
}
h1::after{
    content: "";
    height: 3px;
    width: 450px;
    background-color: #142843;
    margin: 10px auto;
    display: block;
}

 .card{
   position: relative;
   background: #fff;
   width: 400px;
   height: 510px;
   /* margin-top: 10px;
   margin-bottom: 20px; */
   margin: 10px;
   /* margin-right: 10px; */
   /* padding:-50px; */
   border-radius:10px ;
   box-shadow: 10px 10px 5px grey;


}

.card:hover{
    box-shadow: 10px 10px 5px #17C89A;

}

.card .content{
    position: absolute;
    top: 250px;
    width: 400px;
    padding: 30px;
    box-sizing: border-box;
}
.card .content a{
    display: inline-block;
    margin: 10px 0 0;
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid #262626;
    color: #262626;
    font-weight: 600;

}

/* .card .sliderText{
    position: absolute;
    width: 90%;
    height: 220px;
    display: flex;
   
    align-items: center;
  
    padding: 10px;
    margin: 10px;
} */
.card .sliderText h3{
    color: #262626;
    font-size: 22px;
    width: 95%;
    padding: 10px;
    margin-left: 5px;
    font-weight: 600;
}
.swiper-wrapper{
    width: 450px;
}
.card .sliderText img{
    width: 95%;
    padding: 10px;

    height: 200px;
    display: block;

}




header{
height: 100px;
width: 100%;

background: #17C89A;
background: -webkit-linear-gradient(right, #17C89A, #142843);
background: -moz-linear-gradient(right, #17C89A, #142843);
background: linear-gradient(to left, #17C89A, #142843);
}
 
header img{
    height: 60px;
    width: 90px;
    position: absolute;
    top:15px;
    left: 30px;
}

header h2{
    font-family: 'JetBrains Mono', monospace;
    color: #f8f1f1;
    font-size: 34px;
    position: absolute;
    left: 120px;
    top: 25px;
}

header h4{
    color:#f8f1f1 ;
    position: absolute;
    font-family: 'JetBrains Mono', monospace;
    font-size: 10px;
    top:65px;
    left:120px
}


header a{
color:  #f8f1f1;
text-decoration: none;
margin: 6px;
font-size: 20px;
font-family: 'JetBrains Mono', monospace;
padding: 10px;
} 

 header a:hover{
    background-color: #f8f1f1;
    color:#142843 ;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}

nav{
    position: absolute;
    left:48%;
    top:40px ;  
}

footer{
height: 100px;
width: 100%;
position: relative;
background: #17C89A;
background: -webkit-linear-gradient(right, #17C89A, #142843);
background: -moz-linear-gradient(right, #17C89A, #142843);
background: linear-gradient(to left, #17C89A, #142843);


}

footer h2{
    font-family: 'JetBrains Mono', monospace;
    color: #f8f1f1;
    font-size: 15px;
    position: absolute;

    left: 45%;
    bottom: 15px; 
}

.footer-icons i{
    background-color:#f8f1f1 ;
    border-radius: 80%;
    color: #05795c;
    padding: 10px;  
    margin: 5px 10px 5px 5px;
}

.footer-icons{
    position: relative;
    left: 42%;
    top:20%;
}
.footer-icons i:hover{
background-color:#142843;
color: #F8F1F1;

}



