@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap');
/*font-family: 'JetBrains Mono', monospace;*/
body{
    position: relative;
}

header{
height: 100px;
width: 100%;

background: #17C89A;
background: -webkit-linear-gradient(right, #17C89A, #142843);
background: -moz-linear-gradient(right, #17C89A, #142843);
background: linear-gradient(to left, #17C89A, #142843);
}
 
img{
    height: 70px;
    width: 100px;
    position: absolute;
    top:15px;
    left: 10px;
}

header h2{
    font-family: 'JetBrains Mono', monospace;
    color: #f8f1f1;
    font-size: 34px;
    position: absolute;
    left: 110px;
    top: 30px;
}

header h4{
    color:#f8f1f1 ;
    position: absolute;
    font-family: 'JetBrains Mono', monospace;
    font-size: 10px;
    top:70px;
    left:110px
}


a{
color:  #f8f1f1;
text-decoration: none;
margin: 10px;
font-size: 20px;
font-family: 'JetBrains Mono', monospace;
padding: 10px;
} 

a:hover{
    background-color: #f8f1f1;
    color:#142843 ;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}

nav{
    position: absolute;
    left:670px;
    top:40px ;  
}

main{
    height: 700px;
}


footer{
    height: 80px;
    width: 100%;

    background: #17C89A;
background: -webkit-linear-gradient(right, #17C89A, #142843);
background: -moz-linear-gradient(right, #17C89A, #142843);
background: linear-gradient(to left, #17C89A, #142843);
}

footer h2{
    font-family: 'JetBrains Mono', monospace;
    color: #f8f1f1;
    font-size: 25px;
    position: absolute;
    left: 470px;
    bottom: 25px; 
}