@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
/* font-family: 'Lora', serif; */
body{
position: relative;
background: #9AD3BC;
background: -webkit-linear-gradient(top right, #9AD3BC, #F8F1F1);
background: -moz-linear-gradient(top right, #9AD3BC, #F8F1F1);
background: linear-gradient(to bottom left, #9AD3BC, #F8F1F1);

} 



header{
height: 100px;
width: 100%;
background: #17C89A;
background: -webkit-linear-gradient(right, #17C89A, #142843);
background: -moz-linear-gradient(right, #17C89A, #142843);
background: linear-gradient(to left, #17C89A, #142843);
}
 
header img{
    height: 60px;
    width: 90px;
    position: absolute;
    top:15px;
    left: 30px;
}

header h2{
   font-family: 'Lora', serif;
    color: #f8f1f1;
    font-size: 34px;
    position: absolute;
    left: 120px;
    top: 25px;
}

header h4{
    color:#f8f1f1 ;
    position: absolute;
   font-family: 'Lora', serif;
    font-size: 10px;
    top:65px;
    left:120px
}


header a{
color:  #f8f1f1;
text-decoration: none;
margin: 6px;
font-size: 20px;
font-family: 'Lora', serif;
padding: 10px;
} 

 header a:hover{
    background-color: #f8f1f1;
    color:#142843 ;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}

nav{
    position: absolute;
    left:48%;
    top:40px ;  
}


footer{
height: 100px;
width: 100%;
position: relative;
margin-top: auto;
background: #17C89A;
background: -webkit-linear-gradient(right, #17C89A, #142843);
background: -moz-linear-gradient(right, #17C89A, #142843);
background: linear-gradient(to left, #17C89A, #142843);


}

footer h2{
   font-family: 'Lora', serif;
    color: #f8f1f1;
    font-size: 15px;
    position: absolute;

    left: 45%;
    bottom: 15px; 
}

.footer-icons i{
    background-color:#f8f1f1 ;
    border-radius: 80%;
    color: #05795c;
    padding: 10px;  
    margin: 5px 10px 5px 5px;
}

.footer-icons{
    position: relative;
    left: 42%;
    top:20%;
}
.footer-icons i:hover{
background-color:#142843;
color: #F8F1F1;

}



