@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap');
/*font-family: 'JetBrains Mono', monospace;*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
  width: 100%;
  height:19cm;
  background: #9AD3BC;
    background: -webkit-linear-gradient(top right, #9AD3BC, #F8F1F1);
    background: -moz-linear-gradient(top right, #9AD3BC, #F8F1F1);
    background: linear-gradient(to bottom left, #9AD3BC, #F8F1F1);

}

    main{
       height: calc(19cm - 160px);
       width: 100%; 
        
    }
footer{
    height: 100px;
    width: 100%;
    background: #17C89A;
background: -webkit-linear-gradient(right, #17C89A, #142843);
background: -moz-linear-gradient(right, #17C89A, #142843);
background: linear-gradient(to left, #17C89A, #142843);
}


#form-container{
    display: flex;
    justify-content: center;
    background-color:#ddd ;
    color: #070a0e;
    display: inline-block;
    padding: 20px 20px;
    margin: 5px;
    height: 400px;
    width: 410px;
    position: relative;
    left: 30.5%;
    top: 12%;
    box-shadow: 10px 10px 5px #747c7a;
   border: 1px solid #b1b3b4;
}

#form-container .user-img img{
    height: 150px;
    width:150px;
    border-radius: 100%;
    background-color: #f8f1f1;
    border: 10px solid #f8f1f1;
    position: absolute;
    top:-50px;
    left: 50%;
    transform: translateX(-50%);
}
.footer-icons{
    width: fit-content;
}


#form-container .insert{
    position: absolute;
    top:25%;
    left:12%;
    
}
    
    input{
        height:30px ;
        width:100%;
        margin: 10px 0px;
        border-radius: 3px;
        border: 1px solid #F8F1F1;
        font-size: 15px;
        padding: 5px;
        font-family: 'Forum', cursive;
        
    
    }
    
    #form-container .user-input i{ 
        position: absolute;
        font-size: 20px;
        top:50%;
        right: 10px;
        transform: translateY(-5%);
        color: #747c7a;
    }

    main a{
        position: relative;
        left:42%;
        bottom:5%;
        color: #142843;
    }
    #info{
        position: relative;
        top: 1%;
    }
    #info h1{
      
        width: 30%;
        color:black;
        font-size: 25px;
        font-style: bold;
        position: relative;
        left: 1%;
        top: 1%;
        border:dotted rgb(4, 97, 61);
padding-left: 5px;
       padding-bottom: 5px;
        
    }
    #courses{
        display: inline-block;
        border: solid black;
        position: relative;
        left: 35%;
      bottom: 20%;
        width: 50%;
        background-color: #ddd;
        height: 90%;
    }
    #courses p{
        position: relative;
        color: black;
        font-size: 30px;
        width: max-content;
        margin: 5px 5px 5px 5px;
    }
    #courses label{
        display: inline-block;
        margin: 5px 5px 5px 5px;
        font-size: 20px;
        color: black;
        position: relative;
        top: 7.4%;


        }
        #courses input{
            position: relative;
            font-size: 20px;
            display: inline-block;
          left: 30%;
        }
       
        #button{
            width: 40%;
            font-size: 30px;
           
        }
        #result{
            position: relative;
            left: 1%;
            top: 5%;
            font-size: 25px;
            color: black;
        
            width: fit-content;
            height: fit-content;
           

        }
        #result li{
           margin: 5px 5px 5px 5px;
        }
        #bio{
            width: 40%;
            position: relative;
            left: 55%;
            bottom: 35%;
        }
       